.tm-page-container {
	background: -moz-linear-gradient(top,#94a1b2 0,#ededed 100%) fixed !important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#94a1b2),color-stop(100%,#ededed)) fixed !important;
    background: -webkit-linear-gradient(top,#94a1b2 0,#ededed 100%) fixed !important;
    background: -o-linear-gradient(top,#94a1b2 0,#ededed 100%) fixed !important;
    background: -ms-linear-gradient(top,#94a1b2 0,#ededed 100%) fixed !important;
    background: linear-gradient(to bottom,#94a1b2 0,#ededed 100%) fixed !important;
	height: 100% !important;
}

.tm-page {
-webkit-box-shadow: 0 0 26px 6px rgba(50,50,50,.75)!important;
    -moz-box-shadow: 0 0 26px 6px rgba(50,50,50,.75)!important;
    box-shadow: 0 0 26px 6px rgba(50,50,50,.75)!important;
	position: relative !important;
	margin-top:148px !important;
}

@media screen and (min-width: 992px){
    .tm-page {width: 970px!important;
    }
}

@media screen and (max-width: 991px) {
    .tm-page {
        width: 750px!important;
    }
}

@media (min-width:960px){
	.uk-navbar-container .uk-container{
		padding-left:10px;
		padding-right:10px;
	}
}

.uk-navbar-toggle-icon.uk-icon {display: none;}.uk-margin-small-right {color: #fff;}.uk-navbar-toggle:hover {background-color: #ffb71b;}


#social-footer li{
	list-style: none !important;
	display: inline-block !important;
}

#social-footer li img {
    height: 23px !important;
	
}

@media screen and (max-width: 994px) {
		#social-footer li img {
    width: 45px !important;
    height: 45px !important;
		}
	#social-footer {
		padding: 5px;
	}	
}




@media (min-width: 992px) {
	#cl {
		padding-top: 0px !important;
		background-position: 61px 4px !important;
	}
	}

.header-wrapper.gradient {
	position:absolute !important;
	width: 100% !important;
	z-index: 1 !important;
}

@media (max-width: 767px) {
	.tm-page {
		width: auto !important;
		margin-top: 50px !important;
	}
#footer {
   width: auto!important;
	} }
	
.tm-page {
	margin-bottom: 50px !important;
}

